.venv
datapipeline/src/abstract/__pycache__
datapipeline/src/Client/__pycache__
datapipeline/src/controller/__pycache__
datapipeline/src/Processors/__pycache__
datapipeline/src/utils/__pycache__
datapipeline/.env
.DS_Store
training/.env
training/models
models
datapipeline/.env
training/.env
datapipeline/data
training/src/abstract/__pycache__
training/src/controller/__pycache__
training/src/utils/__pycache__
backtest/__pycache__
.vscode
training/__pycache__